In [1]:
import numpy as np
import pandas as pd
import redis

In [2]:
# Connect to Redis Client
hostname = 'redis-17822.c84.us-east-1-2.ec2.redns.redis-cloud.com'
portnumber = 17822
password = '3vTXanaK9N16iLKE1MusYAICy9u7eJbg'

r = redis.StrictRedis(host=hostname, port=portnumber, password=password)

In [3]:
r.ping()

True

In [4]:
r.keys()

[b'academy:register']

### Load the data (numpy zip)

In [5]:
np_file = np.load('dataframe_students_teacher.npz', allow_pickle=True)
x_values = np_file['arr_0']
col_names = np_file['arr_1']

df = pd.DataFrame(x_values, columns=col_names)
df

,Name,Role,Facial_Features
0,Angelina Jolie,Student,"[0.43240866661071775, 1.0746602058410644, -0.1..."
1,Barack Obama,Teacher,"[0.9487081527709961, -0.5583571434020996, 0.09..."
2,Chris Evans,Student,"[0.7200981616973877, -1.4685219764709472, -0.7..."
3,Morgan Freeman,Teacher,"[0.4854259490966797, -0.6193630218505859, -0.4..."
4,Scarlett Johansson,Student,"[0.19131546020507811, -0.48847036361694335, -1..."

In [6]:
df['name_role'] = df['Name']+'@'+df['Role']
df

,Name,Role,Facial_Features,name_role
0,Angelina Jolie,Student,"[0.43240866661071775, 1.0746602058410644, -0.1...",Angelina Jolie@Student
1,Barack Obama,Teacher,"[0.9487081527709961, -0.5583571434020996, 0.09...",Barack Obama@Teacher
2,Chris Evans,Student,"[0.7200981616973877, -1.4685219764709472, -0.7...",Chris Evans@Student
3,Morgan Freeman,Teacher,"[0.4854259490966797, -0.6193630218505859, -0.4...",Morgan Freeman@Teacher
4,Scarlett Johansson,Student,"[0.19131546020507811, -0.48847036361694335, -1...",Scarlett Johansson@Student

In [7]:
records = df[['name_role', 'Facial_Features']].to_dict(orient='records')
len(records)

5

## Save data in Redis
- Redis hashes
- Keyname - 'academy:register'

In [8]:
for record in records:
    name_role = record['name_role']
    vector = record['Facial_Features']
   
    # convert numpy array into bytes
    vector_bytes = vector.tobytes()

    # save data into redis cloud
    r.hset(name='academy:register', key=name_role, value=vector_bytes)

In [9]:
vector.dtype

dtype('float64')

### Retrive Records from Redis

In [10]:
retrive_dict = r.hgetall(name='academy:register')
retrive_series = pd.Series(retrive_dict)
retrive_series

b'Scarlett Johansson@Student'    b'ffff\x06}\xc8?3333\x19C\xdf\xbf\x9a\x99\x99\...
b'Barack Obama@Teacher'          b'3333\xd1[\xee?\xcd\xcc\xcc\xcc\x0f\xde\xe1\x...
b'Agung@Student'                 b'fi\xd1\xbf\x00h2\xbf\xee\xa9\x99?P\x7f6\xbdT...
b'Friday@Teacher'                b'\xa02p\xbfz\x1dy\xbf\xdc\x81\xac?\xea\xf9\x1...
b'Angelina Jolie@Student'        b'ffff\x95\xac\xdb?fff\xe6\xce1\xf1?3333xx\xc0...
b'Chris Evans@Student'           b'\xcd\xcc\xccL\x0b\x0b\xe7?fff\xe6\x10\x7f\xf...
b'Morgan Freeman@Teacher'        b'\x00\x00\x00\x008\x11\xdf?ffff\xd2\xd1\xe3\x...
dtype: object

In [11]:
#np.frombuffer(retrive_series[b'Morgan Freman@Teacher'],dtype=bp.float32).shape
retrive_series = retrive_series.apply(lambda x: np.frombuffer(x,dtype=np.float32))
index = retrive_series.index
index = list(map(lambda x: x.decode(), index))

In [12]:
retrive_series.index = index

In [13]:
retrive_df = retrive_series.to_frame().reset_index()
retrive_df.columns = ['name_role', 'facial_features']
retrive_df

,name_role,facial_features
0,Scarlett Johansson@Student,"[2.720083e+23, 1.5663154, 4.172325e-08, -1.744..."
1,Barack Obama@Teacher,"[4.172325e-08, 1.862177, -107374184.0, -1.7645..."
2,Agung@Student,"[-1.636029, -0.6968994, 1.2004983, -0.04455501..."
3,Friday@Teacher,"[-0.9382725, -0.973106, 1.347713, 0.61709464, ..."
4,Angelina Jolie@Student,"[2.720083e+23, 1.7162043, -2.720083e+23, 1.884..."
5,Chris Evans@Student,"[107374184.0, 1.8050245, -2.720083e+23, -1.933..."
6,Morgan Freeman@Teacher,"[0.0, 1.742713, 2.720083e+23, -1.7798407, 2.72..."

### Regitration Form

In [14]:
import cv2
from insightface.app import FaceAnalysis

F:\PYTHON\Attendance_System\Notes\attendance_system\lib\site-packages\albumentations\check_version.py:51: UserWarning: Error fetching version info <urlopen error _ssl.c:1112: The handshake operation timed out>
  data = fetch_version_info()

In [15]:
# configure face analysis
faceapp = FaceAnalysis(name='buffalo_sc', root='insightface_model', providers=['CPUExecutionProvider'])
faceapp.prepare(ctx_id=0, det_size=(640, 640), det_thresh=0.5)
# warning: don't set det_thresh < 0.3

Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model\models\buffalo_sc\det_500m.onnx detection [1, 3, '?', '?'] 127.5 128.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model\models\buffalo_sc\w600k_mbf.onnx recognition ['None', 3, 112, 112] 127.5 127.5
set det-size: (640, 640)

### Step-1: Collect Person and Role

In [16]:
# python input
person_name = input('Enter Your Name: ')

trials = 3
for i in range(trials):
    role = input("""
    PLease Choose
    1. Stundent
    2. Teacher
    
    Enter Number Either 1 or 2
    """)

    if role in ('1', '2'):
        if role == '1':
            role = 'Student'
        else:
            role = 'Teacher'
        break
    else:
        print('Invalid Entry Try Again')
        if i == 3:
            print('Exceeds Maximum Trials')

key = person_name +'@'+ role
print('Your name = ', person_name)
print('Your role = ', role)
print('key =', key)

Enter Your Name:  Agung

    PLease Choose
    1. Stundent
    2. Teacher

    Enter Number Either 1 or 2
     2

Your name =  Agung
Your role =  Teacher
key = Agung@Teacher

In [17]:
person_name

'Agung'

### Step-2: Collect Samples

In [17]:
cap = cv2. VideoCapture(0) # 0 default camera, 1 external camera
face_embeddings = []
sample = 0
while True:
    ret, frame = cap.read()
    if ret == False:
        print('Unable to read camera')
        break

    # get results from insightface model
    results = faceapp.get(frame, max_num=1)
    for res in results:
        sample += 1
        x1, y1, x2, y2 = res['bbox'].astype(int)
        cv2.rectangle(frame, (x1, y1), (x2, y2), (0,255,0), 1)

    # facial features
    embeddings = res['embedding']
    face_embeddings.append(embeddings)

    if sample >= 200:
        break
    
    cv2.imshow('frame', frame)
    if cv2.waitKey(1) == ord('q'): # this is trigger only when i press letter q (lowercase q) in may keyboard
        break

cap.release()
cv2.destroyAllWindows()

In [18]:
len(face_embeddings)

200

### Step-3: Optimize Data & Save in Redis Database

In [31]:
x_mean = np.asarray(face_embeddings).mean(axis=0)
x_mean.shape

(512,)

In [21]:
# convert into bytes
x_mean_bytes = x_mean.tobytes()

In [22]:
# save key and facial bytes into redis database
r.hset(name='academy:register', key=key, value=x_mean_bytes)

1